@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <a class="btn btn-success" asp-controller="Category" asp-action="Create">Create </a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>Name</th>
                                <th>Setting</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id"><i class="mdi mdi-delete"></i></a>
                                        <a class="btn btn-primary" asp-controller="Category" asp-action="Update" asp-route-id="@item.Id"><i class="mdi mdi-table-edit"></i></a>
                                        <a class="btn btn-info" asp-controller="Category" asp-action="Detail" asp-route-id="@item.Id"><i class="mdi mdi-account-card-details"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

